*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer
pip-log.txt
MANIFEST

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
venv-*

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.venv-*

# dev
.cache
logfile
logfile.1
logfile.2
logfile.3
logfile.4
logfile.5
logfile.6
logfile.7
logfile.8
logfile.9
media
media-private
node_modules
temp.db

# private info
.private
