/*
Original colour scheme from:;
http://www.colourlovers.com/palette/1222711/I_eat_only_palettes
25/8/15 - changed background to #FFFFee, font to #2e3d40 etc.
*/

html {
  overflow-y: scroll;
}

body {
    background: #FFFFee;
    color: #2e3d40;
    margin: 0em 0 1em;
}

a {
    color: #2e3d40; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #171e20; /* block-normal-text-normal */
}

.header {
    border-bottom: 1px solid #2e3d40;
}

    .header h1 {
            color: #2e3d40;
            padding: 0.2em;
    }

 #menu {
	background: #1eb896;
}
	/*
    All anchors inside the menu should be styled like this.
    */
	#menu a {
	        color: #2e3d40;
	}

    /*
    Change color of the anchor links on hover/focus.
    */
    #menu .pure-menu li a:hover,
    #menu .pure-menu li a:focus {
        background: #39E6AC;
    }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #2e3d40;
    }

    /*
    This styles a link within a selected menu item `<li>`.
    */
    #menu .pure-menu-selected a {
        color: #FFFFee;
    }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        background: #2e3d40;
        color: #FFFFee;
    }

/*
 * Footer Module Styles
 */
.legal {
    border-top: 1px solid #2e3d40;
    padding: 0.5em 5;
    background: #FFFFee;
}

.pure-button {
    color: #2e3d40;
    background-color: #1eb896;
}